<!DOCTYPE html>
<html lang="ro">
<head>
  <meta name="keywords" content="produse, vegan, eroare, 404">
  <meta name="description" content="Eroare: pagina nu a fost gasita">
  <title>Eroare 404</title>
  <%- include("../fragmente/head.ejs") %>
</head>

<body>
<a id="top"></a>
<%- include("../fragmente/header.ejs") %>

<main>
  <section>
    <h2 style="color: var(--textColor)">Eroare 404 - Pagina nu exista!</h2>
    <img src="../../resources/imagini/404.png">
  </section>
</main>

<%- include("../fragmente/footer.ejs") %>

</body>
</html>
