<!DOCTYPE html>
<html lang="ro">
<head>
  <meta name="keywords" content="produse, vegan, suplimente, ingrediente, mediu, ingrijire personala">
  <meta name="description" content="Produse vegane, sanatoase si gustoase. Ghiduri pentru dieta vegana. Produse de ingrijire personala">
  <title>Road to Vegan - Home</title>
  <%- include("../fragmente/head.ejs") %>
</head>

<body>
<a id="top"></a> <!-- punctul 11 -->
<%- include("../fragmente/header.ejs") %>

<main>
<div id="grid">
  <section id="about">
    <h2>Despre</h2>
    <p> <em>Road to Vegan</em>
      <!-- punctul 10  d-->
       este un site dedicat produselor vegane, cunoscute ca si <i>plant-based</i>
      <!-- punctul 10 b-->
      sau de post.<br />
      Site-ul nostru iti va oferi ingrediente de calitate cu ajutorul carora stilul de viata vegan devine <b>accesibil tuturor</b>
      <!-- punctul 10 a -->
      .
      De la produse alimentare, inlocuitori de lactate si carne, pana la produse de ingrijire personala, vei descoperi cat de <em>versatil</em> poate fi stilul de viata vegan.<br />
      Pe langa produse, am adaugat pe site cateva ghiduri ajutatoare pentru a te asigura ca stii toate lucrurile esentiale unui stil de viata vegan, dar si cateva ingrediente speciale care ajuta la inlocuirea anumitor produse uzuale. Fii fara grija, ne-am ocupat de tot! <br />
      <br />
      Ce mai astepti? Join the Road to Vegan!
    </p>
  </section>

  <section id="news">
    <h2>Noutati</h2>
    <ul>
      <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
      <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
      <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
    </ul>
  </section>

  <section id="topRankedTable">
    <h2>Cele mai apreciate produse</h2>
    <p> Utilizatorii site-ului pot da un rating fiecarui produs. Cele mai apreciate produse in aceste moment sunt:
    </p>
    <table>
				  <thead>
					<tr>
					  <th>Produs</th>
					  <th>Categorie</th>
					  <th>Nota</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td>Lorem ipsum</td>
					  <td>Lorem ipsum</td>
					  <td>Lorem ipsum</td>
					</tr>
					<tr>
            <td>Lorem ipsum</td>
					  <td>Lorem ipsum</td>
					  <td>Lorem ipsum</td>
					</tr>
					<tr>
            <td>Lorem ipsum</td>
					  <td>Lorem ipsum</td>
					  <td>Lorem ipsum</td>
					</tr>
				  </tbody>
				</table>
        <br />
        <br />
  </section>

  <!-- punctul  7 section in section + article-->
  <section id="whyVegan">
    <div id="titleV"><h2>De ce vegan?</h2></div>
    <!-- punctul 12  -->
    <section id="definition">
      <details open>
        <summary>
          <h3>Ce presupune dieta vegana?</h3>
        </summary>
        <article>
          <!-- punctul 10 g -->
          <dfn>Dieta vegana</dfn> presupune inlaturarea alimentelor de origine animala din alimentatie. Pe scurt, o alimentatie fara carne de orice fel (alba sau rosie), lapte si produse lactate, dar si oua.
          Datorita numeroaselor studii pe tema alimentatie si nutritiei, dieta vegana a devenit din ce in ce mai populara in ultimii ani.<br />
          Oamenii au acum posibilitatea de a se informa din <b>surse sigure</b> cu privire la dieta vegana, astfel, clasicele mituri precum "deficit de proteine" sau "deficit de calciu" care incojurau aceasta dieta au fost contrazise prin date stiintifice.<br />
          <!-- punctul 10 c -->
          <strong>Atentie insa!</strong> Trebuie sa va documentati bine pentru a avea parte de toate beneficiile dietei vegane, dar si pentru a evita anumite greseli care pot duce la deficiente nutritionale. De aceea am creat ghidurile incepatorului, pentru a veni in ajutorul dumneavoastra. Aceasta este o ocazie buna prin care puteti invata despre nutritie. <br /> <br />
        </article>
      </details>
    </section>

    <section id="health">
      <details open>
        <summary>
          <h3>Este dieta vegana sanatoasa?</h3>
        </summary>
        <p>
          Desi este necesar un oarecare efort pentru a va adapta la dieta vegana, beneficiile pe care vi le aduce aceasta sunt numeroase. Printre acestea, regasim:
        </p>
          <!-- punctul 8 tag "ul" folosit in sectiune -->
        <ul>
          <li> un aport de nutrienti mai bogat provenit din alimente integrale pe baza de plante</li>
          <li> risc substantial redus de a dezvolta afectiuni cardiovasculare</li>
          <li> greutate corporala mentinuta mai usor in limitele normale</li>
          <li> scaderea nivelului de zahar in sange si risul de diabet de tip 2</li>
        </ul>
        <p>
          Este <strong>important de stiut</strong> faptul ca aceste beneficii nu apar decat in urma unei diete vegane preponderent sanatoasa, si nu de tipul <i>fast-food</i>, cu alimente ultraprocesate si bogate in grasimi saturate! <br />
        </p>
      </details>
    </section>

    <section id="animalsAndEnv">
      <details open>
        <summary>
          <h3>Fii prieten cu animalele si cu mediul!</h3>
        </summary>
        <article>
          Este destul de clar ca principalele motive pentru care oamenii migreaza catre veganism sunt cele ce tin de etica, mai exact dorinta oamenilor de a nu mai sustine cruzimea cu care animalele se confrunta in ferme si fabrici prin renuntarea la consumul acestora si al produselor derivate din ele. <br />
          Insa exista un alt motiv care in ultimii ani a devenit un factor decisiv pentru multi oameni cand vine vorba de tranzitia catre veganism. Numeroase studii au aratat faptul ca industria de lactate si de carne dauneaza foarte mult planetei. Acestea consuma foarte mult teren agricol si apa necesare pentru hranirea animalelor, cauzand astfel si defrisari. De asemenea, ele sunt responsabile pentru 57% din emisiile de dioxid de carbon cauzate de industria alimentara, comparativ cu 29% provenite din alimentele de origine vegetala. Asa ca, daca doriti sa va micsorati amprenta de carbon, trebuie sa luati in considerare si optiunea de tranzitie la veganism.
          Pentru mai multe informatii despre acest subiect puteti apasa <a href="https://www.forbes.com/sites/davidrvetter/2020/10/05/got-beef-heres-what-your-hamburger-is-doing-to-the-climate/?sh=7e3e98bb5206" target="_blank">aici</a>.
          <!-- punctul 11 -->
          <br />
          Cateva videoclipuri utile: <br />
          </article>
          <br />
          <div style="display:flex; justify-content:center; gap: 10px">
            <a class="iframe-tab" href="https://www.youtube.com/embed/2bvoJAfjWMM" target="ifr">Videoclip 1</a>
            <a class="iframe-tab" href="https://www.youtube.com/embed/byTxzzztRBU" target="ifr">Videoclip 2</a>
          </div>
          <iframe style="width:100%; height:200px" name="ifr"></iframe>

          <br />

      </details>
    </section>
  </section>

  <div id="calendar">
    <h2>Calendar evenimente</h2>
    <table>
      <thead>
      <tr>
        <th>Data</th>
        <th>Nume eveniment</th>
        <th>Locatie</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>01.12.2021</td>
        <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</td>
        <td>Lorem ipsum</td>
      </tr>
      <tr>
        <td>20.01.2022</td>
        <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</td>
        <td>Lorem ipsum</td>
      </tr>
      <tr>
        <td>12.02.2022</td>
        <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</td>
        <td>Lorem ipsum</td>
      </tr>
      </tbody>
    </table>
    <br />
    <br />
  </div>

  <div id="onlineUsers">
    <h2>Utilizatori online</h2>
    <ul>
       <li>Lorem ipsum</li>
       <li>Aliquam tincidunt</li>
       <li>Vestibulum auctor</li>
       <li>Lorem ipsum</li>
       <li>Aliquam tincidunt</li>
       <li>Vestibulum auctor</li>
    </ul>
  </div>

  <div id="statistics">
    <h2>Statistici site</h2>
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
  </div>

  <div id=siteDetails>
    <h2>Informatii site si server</h2>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit
  </div>
</div>
</main>

<%- include("../fragmente/footer.ejs") %>

</body>
</html>
