<!DOCTYPE html>
<html lang="ro">
<head>
  <meta name="keywords" content="produse, vegan, suplimente, ingrediente, mediu, ingrijire personala">
  <meta name="description" content="Produse vegane, sanatoase si gustoase. Ghiduri pentru dieta vegana. Produse de ingrijire personala">
  <title>Road to Vegan - Home</title>
  <%- include("../fragmente/head.ejs") %>
</head>

<body>
<a id="top"></a>
<%- include("../fragmente/header.ejs") %>

<main>
  <section>
    <h2>Aceasta este a doua pagina.</h2>
  </section>
</main>

<%- include("../fragmente/footer.ejs") %>

</body>
</html>
