<footer style="page-break-before: always;">
    <!-- punctul 11 -->
  <a href="#top" id="link-top">
    <div id="triunghi"></div>
    <span class="tooltip-text">Navigheaza la inceput</span>
  </a>
    <!-- punctul 13 -->
  <address>
    <a href="mailto:roadtoveagn@gmail.com">roadtoveagn@gmail.com</a><br />
    <a href="tel:0722153153">+40 722 153 153</a><br />
    Strada Unirii 87<br />
  </address>
  <!-- punctul 14 -->
  <small>&copy;<time datetime="2021-10-26">26 Octombrie 2021</time></small>

  <div class="watermark">
    Vasile<br />Elena
  </div>
</footer>
