<header>
  <h1 class="big-heading">Road to Vegan</h1>
  <nav style="page-break-after: always;">
    <ul class="menu">
      <li><a href="/index">
        <div>
          <span class="fas fa-solid fa-house"><span> <span id="acasa-meniu"> Acasa</span>
        </div>
        </a>
        <ul class="noprint">
          <li><a href="/index#about"><span id="arrow" class="fas fa-solid fa-arrow-right"></span> Despre</a></li>
          <li><a href="/index#news"><span id="arrow" class="fas fa-solid fa-arrow-right"></span> Noutati</a></li>
          <li><a href="/index#topRanked"><span id="arrow" class="fas fa-solid fa-arrow-right"></span> Cele mai apreciate</a></li>
          <li><a href="/index#whyVegan"><span id="arrow" class="fas fa-solid fa-arrow-right"></span> De ce vegan?</a></li>
        </ul>
      </li>
      <li><div>Produse</div>
        <ul class="noprint">
          <li><a href="/products"><span id="arrow" class="fas fa-solid fa-arrow-right"></span> Produse vegetale</a></li>
          <li><a href="cosmetics.html"><span id="arrow" class="fas fa-solid fa-arrow-right"></span> Ingrijire personala</a></li>
          <li><a href="supplements.html"><span id="arrow" class="fas fa-solid fa-arrow-right"></span> Suplimente</a></li>
          <li><a href="sweets.html"><span id="arrow" class="fas fa-solid fa-arrow-right"></span> Dulciuri</a></li>
          <li><a href="nutsAndSeeds.html"><span id="arrow" class="fas fa-solid fa-arrow-right"></span> Nuci si seminte</a></li>
        </ul>
      </li>
      <li><div>Ghiduri</div>
        <ul class="noprint">
          <li><a href="essentialIngredients.html"><span id="arrow" class="fas fa-solid fa-arrow-right"></span> Incrediente esentiale</a></li>
          <li><a href="replacers.html"><span id="arrow" class="fas fa-solid fa-arrow-right"></span> Inlocuitori</a></li>
          <li><a href="nutritionAndSupplements.html"><span id="arrow" class="fas fa-solid fa-arrow-right"></span> Nutritie si suplimente</a></li>
        </ul>
      </li>
      <li><div>Cont</div>
        <ul class="noprint">
          <li><a href="/galerie_produse"><span id="arrow" class="fas fa-solid fa-arrow-right"></span> Galerie produse</a></li>
          <li><a href="signin.html"><span id="arrow" class="fas fa-solid fa-arrow-right"></span> Creeaza cont</a></li>
          <li><a href="login.html"><span id="arrow" class="fas fa-solid fa-arrow-right"></span> Intra in cont</a></li>
          <li><a href="favorites.html"><span id="arrow" class="fas fa-solid fa-arrow-right"></span> Favoritele tale</a></li>
        </ul>
      </li>
      <li><a href="shoppingCart.html">Cosul tau</a>
      </li>
    </ul>
  </nav>
</header>
